.tile-container {
  display: flex;
  background-color: #ffffff;
  padding: 12px 18px;
}

.character-image {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin: 0 16px 0 2px;
}

.character-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.character-name {
}

.character-category {
  text-transform: capitalize;
  font-size: 14px;
  margin: 0;
}

.character-description {
  text-align: left;
  font-size: 14px;
  line-height: 18px;
}
