@use '../../styles/colours';
@use '../../styles/fonts';
@use '../../styles/breakpoints';
@use '../../styles/variables';

.tiles-wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 1fr);
  grid-template-rows: minmax(150px, 1fr);
  gap: variables.$spacing-small;
  padding: variables.$spacing-large;
}

.filters-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: colours.$white;
  margin: variables.$spacing-large variables.$spacing-large 0;
  padding: 0 variables.$spacing-large variables.$spacing-large;
}

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: variables.$spacing-large;
  padding-top: variables.$spacing-large;

  select {
    text-transform: capitalize;
  }
}

.dropdown-label {
  font-size: fonts.$medium-font;
  margin-bottom: variables.$spacing-small;
}

@media screen and (max-width: breakpoints.$screen-small) {
  .filters-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .dropdown-wrapper {
    flex-direction: row;
    align-items: baseline;
    margin: 0;
  }

  .dropdown-label {
    margin-right: variables.$spacing-medium;
  }
}
