.tiles-wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 1fr);
  grid-template-rows: minmax(150px, 1fr);
  gap: 8px;
  padding: 16px;
}

.filters-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  margin: 16px 16px 0;
  padding: 16px;
}

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 16px;

  select {
    text-transform: capitalize;
  }
}

.dropdown-label {
  font-size: 14px;
  margin-bottom: 8px;
}
